.selfie-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
}
.img-fluid {
    width: 140px;
}

a {
    text-decoration: none;
    color: black;
}

.name {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

.subtitle {
    padding-top: 20px;
    text-align: center;
}


.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.insta-box {
    width: 40%;
    font-size: 20px;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.tt-box {
    width: 40%;
    border-style: solid;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.yt-box {
    width: 40%;
    font-size: 20px;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 40px;
}

.media {
    width: 34px;
    margin: 20px;

}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInUp-animation {
    animation: 2.3s fadeInUp;
}

footer {
    text-align: center;
    padding-top: 260px;
}

@media screen and (max-width: 768px) {
    .selfie-images {
        padding-top: 30px;
    }
    .name {
        font-size: 30px;
    }

    .insta-box {
        width: 80%;
    }
    
    .tt-box {
        width: 80%;
    }
    
    .yt-box {
        width: 80%;
    }

}