.selfie-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}
.img-fluid {
    width: 140px;
}

.name {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.media {
    width: 34px;
    margin: 20px;

}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInUp-animation {
    animation: 2.3s fadeInUp;
}

footer {
    text-align: center;
    padding-top: 260px;
}

@media screen and (max-width: 768px) {
    .selfie-images {
        padding-top: 30px;
    }
    .name {
        font-size: 30px;
    }

}