.name {
    padding-top: 200px;
    text-align: center;
    font-size: 65px;
}

.bio {
    text-align: center;
    font-size: 30px;
}

.main-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
}

.tt {
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    padding: 13px;
    width: 50%;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.tiktok-pic {
    width: 26px;
}

.insta {
    margin-top: 20px;
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    padding: 13px;
    width: 50%;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.insta-pic {
    width: 25px;
}

.youtube {
    margin-top: 20px;
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    padding: 13px;
    width: 50%;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.youtube-pic {
    width: 26px;
}

.credits {
    position: absolute;
    width: 100%;
    height: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 60px;
    }

    .bio {
        font-size: 25px;
    }

    .tt {
        width: 89%;
        padding: 10px;
    }

    .tiktok-pic {
        width: 30px;
    }

    .insta {
        width: 89%;
        padding: 10px;
    }

    .insta-pic {
        width: 30px;
    }

    .youtube {
        width: 89%;
        padding: 10px;
    }
    
    .youtube-pic {
        width: 30px;
    }

    .credits {
        font-size: 18px;
    }
}